@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div>
        <div class="text-center">
            <h3>Welcome to Tony's Petcare Extravaganza!</h3>
            <h4>Need our service? Sign up with the blue button!</h4>
            <p><img src="bobby.jfif" width="400" height="400"/>
            <img src="happy-gilmore.png" width="400" height="400" />
            <img src="billy.jfif" width="400" height="400" /></p>
            <a class="btn btn-primary" asp-action="RsvpForm">Sign Up</a>
        </div>
</body>
</html>
