@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">What is this bird?</h1>
    <p>
        <img src="~/lib/smalbird.jpg" alt="Small Bird" width="200" height="200"/>
        <img src="~/lib/medbird.png" alt="Medium Bird" width="125" height="125"/>
        <img src="~/lib/largebird.jpg" alt="Large Bird" width="175" height="175"/>
        <img src="~/lib/xlbird.jpg" alt="Extra Large Bird" width="250" height="250"/>
    </p>
</div>
