@model IEnumerable<Book>

@{
    ViewData["Title"] = "Books";
}

@foreach (var item in Model)
{
   <div>
    <h1>@item.Title</h1>
    <h3>@item.Author, @item.PublishDate</h3>
    <p><strong>$@item.Price.00</strong>  <a href="#" class="myButton">Add to cart</a>  </p>
    <p>@item.Description</p>
    <img src = "/images/@item.Image" style="width:128px;height:200px;">
    <hr>
    </div> 
}

