@model IEnumerable<Carousel>
@{
    ViewData["Title"] = "Carousel";
}
<div class="carousel slide" data-ride="carousel">
   <div class="carousel-inner">
       <div class="carousel-item active">
           <div class="row">
               @foreach (var item in Model)
               {
               <div class="col"><figure><img src="/images/@item.Image" alt="1 slide" width="250" height="400"><figcaption><strong>@item.Title</strong><br>Description: @item.Description</figcaption></figure></div>
               }
           </div>
       </div>
   </div>
</div>
